
<!-- Welcome Header and Burger Input and Submit Field -->
<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top: 30px">
      <div class="card border border-dark" id="welcome_header">
        <div class="card-header text-dark" style="background-color: rgb(175, 38, 3);">
			<h1> Welcome to Burger-Roma! </h1>
        </div>
        <!--Create/add burger form-->
        <div class="card-body">
			<form action="/burgers/create" method="POST">
				<label for="burger">Enter your burger order below:</label>
 				<input type="text" class="form-control" name="burger_name" value="" id="enter_order">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
	
        </div>
      </div>
    </div>
  </div>
</div>  

<!-- Burger Order list and Devoured Burger List -->
<div class="container">
 	<div class="row mt-4">
		
        <!--Div to hold burgers that have not been devoured yet-->
    	<div class="col-md-6 mt-4">
      		<div class="card border border-primary">
        		<div class="card-header bg-primary text-dark">
         			Ordered Burgers
        		</div>
        		<div class="card-body">
					<div class="row">
						{{#each burger_data}}
			  				{{#unless this.devoured}}
								<div class="col-md-9 text-left">
									{{this.id}}. {{this.burger_name}}
								</div>
								<!-- Devour button -->
								<div class="col-md-2">
									<form class="devour-form">
										<input input type="hidden" class="burger_id" type="text" value={{this.id}}>
										<button type="submit" id="devour_btn" class="btn-sm btn-primary">Devour It!</button>
									</form>
								</div>
							{{/unless}}
						{{/each}}
        			</div>
				</div>
      		</div>
    	</div>

		<!--div for after a burger has been devoured -->
		<div class="col-md-6 mt-4">
			<div class="card border border-primary">
				<div class="card-header bg-primary text-dark" id="devoured-card-header">
					Devoured Burgers
				</div>
				<div class="card-body">
					<div class="row">
						{{#each burger_data}}
							{{#if this.devoured}}
								<!-- Burger -->
								<div class="col-md-9 text-left">
									<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
								</div>
								<!-- Delete button -->
								<div class="col-md-2">
									<form class="delete-form">
										<input input type="hidden" class="burger_id" type="text" value={{this.id}}>
										<button type="submit" id="delete_btn" class="btn-sm btn-primary">Delete It!</button>
									</form>
								</div>
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


